flows.json
[{"id":"19285194.c08a0e","type":"tab","label":"Main handler","disabled":false,"info":""},{"id":"7487b97a.ea1cd8","type":"tab","label":"Best Exchangers","disabled":false,"info":""},{"id":"3cf8aaa3.71f056","type":"subflow","name":"Create user","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"c31c15b9.6e4088"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"ffa5b85c.f2bf38","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8aa6e084.35202","type":"subflow","name":"Update user","info":"","category":"","in":[{"x":80,"y":140,"wires":[{"id":"fb5edcbc.8b0a3"}]}],"out":[{"x":1160,"y":80,"wires":[{"id":"4016d208.c7cb6c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d792c3b3.80159","type":"subflow","name":"Get user","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"24cc07dc.98dac8"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"7a9efef6.9486","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"525fab9d.49b1e4","type":"subflow","name":"Get all currencies","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"ccd41fac.9b02f"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"9aabc535.3d7968","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"62c01424.2e695c","type":"subflow","name":"Get all cities","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"f1935c5f.53b5c"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"8652aeee.03c2c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"fe31744e.b88c08","type":"subflow","name":"Generate image with best exchangers","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"ae048ecc.ab55d"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"146ca166.5ab72f","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7d4ee53a.2af4dc","type":"subflow","name":"Get message","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"b066551e.d52248"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"e9930fc7.1134b","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3d53389e.b51558","type":"subflow","name":"Generate image with interbank currency rate","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"4ae1283a.075cb8"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"b772ff1.5b3b2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"acd08f8b.13dcb","type":"http in","z":"19285194.c08a0e","name":"","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":140,"y":413,"wires":[["fe660237.3d091","dc994d3c.fa872"]]},{"id":"8c536185.60cbd","type":"http in","z":"19285194.c08a0e","name":"","url":"/webhook","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["dd91e2b1.f591d"]]},{"id":"92b5054.48311f8","type":"comment","z":"19285194.c08a0e","name":"Webhook confirmation for Facebook","info":"","x":200,"y":100,"wires":[]},{"id":"dd91e2b1.f591d","type":"function","z":"19285194.c08a0e","name":"Checking token","func":"let VERIFY_TOKEN = env.get(\"FB_VERIFY_TOKEN\");\n\n// Parse the query params\nlet mode = msg.payload['hub.mode'];\nlet token = msg.payload['hub.verify_token'];\nlet challenge = msg.payload['hub.challenge'];\n\n// Checks if a token and mode is in the query string of the request\nif (mode && token) {\n\n    // Checks the mode and token sent is correct\n    if (mode === 'subscribe' && token === VERIFY_TOKEN) {\n        // Responds with the challenge token from the request\n        msg.payload = challenge;\n        return [msg, null];\n    \n    } else {\n        // Responds with '403 Forbidden' if verify tokens do not match\n        return [null, msg];    \n    }\n}\n\nreturn [null, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["596f391c.5253e8"],["bc94fe71.183a6"]],"outputLabels":["return statusCode 200","return statusCode 403"]},{"id":"596f391c.5253e8","type":"http response","z":"19285194.c08a0e","name":"200","statusCode":"200","headers":{},"x":550,"y":120,"wires":[]},{"id":"bc94fe71.183a6","type":"http response","z":"19285194.c08a0e","name":"403","statusCode":"403","headers":{},"x":550,"y":160,"wires":[]},{"id":"fe660237.3d091","type":"debug","z":"19285194.c08a0e","name":"/webhook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":180,"y":473,"wires":[]},{"id":"dc994d3c.fa872","type":"function","z":"19285194.c08a0e","name":"Messenger definition","func":"if (msg.payload.hasOwnProperty(\"object\")) {\n    if (msg.payload.object === 'page') {\n        //set messenger type\n        msg.messenger_type = \"fb\";\n        msg.user = { \n            \"user_id\": msg.payload.entry[0].messaging[0].sender.id.toString()\n        };\n        \n        //set message\n        if (msg.payload.entry[0].messaging[0].hasOwnProperty(\"message\")) {\n            if (msg.payload.entry[0].messaging[0].message.hasOwnProperty(\"quick_reply\")) {\n                msg.text = msg.payload.entry[0].messaging[0].message.quick_reply.payload;\n            } else {\n                msg.text = msg.payload.entry[0].messaging[0].message.text;\n            }\n        } else if (msg.payload.entry[0].messaging[0].hasOwnProperty(\"postback\")) {\n            msg.text = msg.payload.entry[0].messaging[0].postback.payload;\n        }\n        \n        \n        // Returns a '200 OK' response to all requests\n        msg.payload = 'EVENT_RECEIVED';\n        return [null, null, msg, null];\n    } else {\n        // Returns a '404 Not Found' if event is not from a page subscription\n        return [null, null, null, msg];\n    }\n} else if (msg.payload.hasOwnProperty(\"event\")) {\n    //set messenger type\n    msg.messenger_type = \"vb\";\n    \n    //if setting webhook\n    if (msg.payload.event == \"webhook\") {\n        return [null, msg, null, null];\n    } else if (msg.payload.event == \"message\") {\n        msg.user = {\n            \"user_id\": msg.payload.sender.id.toString()\n        }\n        \n        //set message\n        if (msg.payload.message.type == \"text\") {\n            msg.text = msg.payload.message.text;\n        }\n        \n        return [null, null, msg, null]\n    } else if (msg.payload.event == \"conversation_started\") {\n        msg.user = {\n            \"user_id\": msg.payload.user.id.toString()\n        }\n        \n        msg.template_id = \"welcomeMessage\";\n        return [msg, null, null, null]\n    }\n    \n} else if (msg.payload.hasOwnProperty(\"update_id\")) {\n    //set messenger type\n    msg.messenger_type = \"tg\";\n    msg.user = {\n        \"user_id\": ((msg.payload.hasOwnProperty(\"message\") ? msg.payload.message.chat.id : msg.payload.callback_query.from.id).toString()),\n        \"first_name\": ((msg.payload.hasOwnProperty(\"message\") && msg.payload.message.chat.first_name) ? msg.payload.message.chat.first_name : \"\"),\n        \"last_name\": ((msg.payload.hasOwnProperty(\"message\") && msg.payload.message.chat.last_name) ? msg.payload.message.chat.last_name : \"\")\n    };\n    \n    //set message\n    if (msg.payload.hasOwnProperty(\"message\")) {\n        msg.text = msg.payload.message.text;\n    } else if (msg.payload.hasOwnProperty(\"callback_query\")) {\n        msg.text = msg.payload.callback_query.data;\n    }\n    \n    return [null, null, msg, null];\n}\n\nreturn [null, null, null, msg];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":380,"y":413,"wires":[["fe7a99b9.17de98"],["659d008f.5f209"],["659d008f.5f209","75964999.46f478"],["72e87598.65e0fc"]],"outputLabels":["return statusCode 200","message handler","return statusCode 404",""]},{"id":"659d008f.5f209","type":"http response","z":"19285194.c08a0e","name":"200","statusCode":"200","headers":{},"x":610,"y":380,"wires":[]},{"id":"72e87598.65e0fc","type":"http response","z":"19285194.c08a0e","name":"404","statusCode":"404","headers":{},"x":590,"y":540,"wires":[]},{"id":"cb2025b8.df95d8","type":"comment","z":"19285194.c08a0e","name":"Webhook","info":"","x":120,"y":373,"wires":[]},{"id":"75964999.46f478","type":"function","z":"19285194.c08a0e","name":"Get envs","func":"msg.API_URL = env.get(\"API_URL\");\nmsg.API_TOKEN = env.get(\"API_TOKEN\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":420,"wires":[["6a12fda9.df8a94","243074ef.3cc6bc"]]},{"id":"6a12fda9.df8a94","type":"debug","z":"19285194.c08a0e","name":"Get envs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":480,"wires":[]},{"id":"c31c15b9.6e4088","type":"function","z":"3cf8aaa3.71f056","name":"Set data","func":"msg.method = \"POST\",\nmsg.url = `${msg.API_URL}/users`,\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": `Bearer ${msg.API_TOKEN}`\n}\n\nmsg.payload = Object.assign(msg.user, {\n    \"messenger_type\": msg.messenger_type,\n    \"state\": \"created\",\n    \"language\": \"ua\"\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["12c0f778.89d6a9"]]},{"id":"12c0f778.89d6a9","type":"http request","z":"3cf8aaa3.71f056","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":120,"wires":[["aca59e83.d4a8a","49eb3783.b34818"]]},{"id":"ffa5b85c.f2bf38","type":"change","z":"3cf8aaa3.71f056","name":"Save data","rules":[{"t":"set","p":"user","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[[]]},{"id":"aca59e83.d4a8a","type":"debug","z":"3cf8aaa3.71f056","name":"Create user response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":180,"wires":[]},{"id":"243074ef.3cc6bc","type":"subflow:3cf8aaa3.71f056","z":"19285194.c08a0e","name":"","x":790,"y":420,"wires":[["91e84b65.1597e8","fa0db041.ea359"]]},{"id":"49eb3783.b34818","type":"switch","z":"3cf8aaa3.71f056","name":"Error handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["4276fc3.a257304","ffa5b85c.f2bf38"],["ac9f1582.dc2108"]]},{"id":"ac9f1582.dc2108","type":"function","z":"3cf8aaa3.71f056","name":"Print error","func":"node.error(\"Create user error (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":160,"wires":[[]]},{"id":"4276fc3.a257304","type":"function","z":"3cf8aaa3.71f056","name":"Print status","func":"msg.payload = \"Create user successful (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":80,"wires":[["e62a8bf.518dd78"]]},{"id":"5d039bec.1a6844","type":"switch","z":"19285194.c08a0e","name":"STATE HANDLER","property":"text","propertyType":"msg","rules":[{"t":"eq","v":"mainMenuInterbank","vt":"str"},{"t":"eq","v":"mainMenuBestExchangers","vt":"str"},{"t":"regex","v":"topSellExchangers|topBuyExchangers","vt":"str","case":false},{"t":"cont","v":"bestExchangersCurrency-","vt":"str"},{"t":"cont","v":"bestExchangersCity-","vt":"str"},{"t":"eq","v":"selectCity","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":1530,"y":740,"wires":[["12bf94ed.01a7eb"],["45977d5a.ed84b4"],["6637f163.9d763"],["ddbdc852.d4d6a8"],["c34028cb.ed5ab8"],["b5a5ca1f.31f4f8"],["9d7141c0.1c5f5"]]},{"id":"7c944a4b.e49174","type":"send-message","z":"19285194.c08a0e","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"welcomeMessage","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":1820,"y":280,"wires":[[]]},{"id":"2dd93219.700d9e","type":"comment","z":"19285194.c08a0e","name":"Welcome message","info":"","x":1830,"y":240,"wires":[]},{"id":"e62a8bf.518dd78","type":"debug","z":"3cf8aaa3.71f056","name":"Create user status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":80,"wires":[]},{"id":"91e84b65.1597e8","type":"debug","z":"19285194.c08a0e","name":"After creating user","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":480,"wires":[]},{"id":"6087d3fe.ba77ac","type":"switch","z":"19285194.c08a0e","name":"start command state handler","property":"user.state","propertyType":"msg","rules":[{"t":"eq","v":"created","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1560,"y":320,"wires":[["7c944a4b.e49174"],["955128c8.e840c8"]],"outputLabels":["New user","Old user"]},{"id":"955128c8.e840c8","type":"send-message","z":"19285194.c08a0e","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"mainMenu","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":1820,"y":360,"wires":[[]]},{"id":"177c6dc6.3e5c02","type":"comment","z":"19285194.c08a0e","name":"Main menu","info":"","x":1800,"y":320,"wires":[]},{"id":"fff2eafb.bfead8","type":"comment","z":"19285194.c08a0e","name":"Create/get user","info":"","x":800,"y":380,"wires":[]},{"id":"45977d5a.ed84b4","type":"send-message","z":"19285194.c08a0e","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"mainMenuBestExchangers","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":1820,"y":600,"wires":[[]]},{"id":"13806554.b7df3b","type":"comment","z":"19285194.c08a0e","name":"The best exchangers","info":"","x":1840,"y":560,"wires":[]},{"id":"b69ddfc1.5f3ba","type":"link in","z":"7487b97a.ea1cd8","name":"Save action and select currency (the best exchangers flow) (in)","links":["6637f163.9d763"],"x":175,"y":120,"wires":[["53cf3229.14a58c"]]},{"id":"fb5edcbc.8b0a3","type":"function","z":"8aa6e084.35202","name":"Set data","func":"msg.method = \"PUT\",\nmsg.url = `${msg.API_URL}/users?user_id=${encodeURIComponent(msg.query.user_id)}&messenger_type=${msg.query.messenger_type}`,\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": `Bearer ${msg.API_TOKEN}`\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":140,"wires":[["28f50ecb.4361c2"]]},{"id":"28f50ecb.4361c2","type":"http request","z":"8aa6e084.35202","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":140,"wires":[["3805afd8.24234","bff5b95e.4a2aa8"]]},{"id":"3805afd8.24234","type":"debug","z":"8aa6e084.35202","name":"Update user response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":200,"wires":[]},{"id":"bff5b95e.4a2aa8","type":"switch","z":"8aa6e084.35202","name":"Error handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":140,"wires":[["7db52515.ecf75c"],["48f5b19e.c2d3d"]]},{"id":"48f5b19e.c2d3d","type":"function","z":"8aa6e084.35202","name":"Print error","func":"node.error(\"Update user error (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":200,"wires":[[]]},{"id":"7db52515.ecf75c","type":"function","z":"8aa6e084.35202","name":"Print status","func":"msg.payload = \"Update user successful (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":80,"wires":[["b4a79504.198ec8","4016d208.c7cb6c"]]},{"id":"b4a79504.198ec8","type":"debug","z":"8aa6e084.35202","name":"Update user status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":140,"wires":[]},{"id":"24cc07dc.98dac8","type":"function","z":"d792c3b3.80159","name":"Set data","func":"msg.method = \"GET\",\nmsg.url = `${msg.API_URL}/users?user_id=${encodeURIComponent(msg.query.user_id)}&messenger_type=${msg.query.messenger_type}`,\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": `Bearer ${msg.API_TOKEN}`\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["25556b6b.580da4"]]},{"id":"25556b6b.580da4","type":"http request","z":"d792c3b3.80159","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":120,"wires":[["b2ea0d45.564cf","181ecd18.8981d3"]]},{"id":"7a9efef6.9486","type":"change","z":"d792c3b3.80159","name":"Save data","rules":[{"t":"set","p":"user","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[[]]},{"id":"b2ea0d45.564cf","type":"debug","z":"d792c3b3.80159","name":"Get user response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":180,"wires":[]},{"id":"181ecd18.8981d3","type":"switch","z":"d792c3b3.80159","name":"Error handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["dc52a03f.cc2dd","7a9efef6.9486"],["db984ce2.fe1b4"]]},{"id":"db984ce2.fe1b4","type":"function","z":"d792c3b3.80159","name":"Print error","func":"node.error(\"Get user error (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":160,"wires":[[]]},{"id":"dc52a03f.cc2dd","type":"function","z":"d792c3b3.80159","name":"Print status","func":"msg.payload = \"Get user successful (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":80,"wires":[["9847a13f.8254c"]]},{"id":"9847a13f.8254c","type":"debug","z":"d792c3b3.80159","name":"Get user status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":80,"wires":[]},{"id":"4016d208.c7cb6c","type":"subflow:d792c3b3.80159","z":"8aa6e084.35202","name":"","x":1020,"y":80,"wires":[[]]},{"id":"7edf9c0.71df664","type":"subflow:8aa6e084.35202","z":"7487b97a.ea1cd8","name":"","x":530,"y":120,"wires":[["174659be.7574e6"]]},{"id":"53cf3229.14a58c","type":"function","z":"7487b97a.ea1cd8","name":"Set request","func":"msg.query = {\n    \"user_id\": msg.user.user_id,\n    \"messenger_type\": msg.messenger_type\n};\nmsg.payload = {\n    \"context\": {\n        \"best_exchagers_action\": msg.text.substring(3, msg.text.indexOf(\"Exchangers\")).toLowerCase()\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["7edf9c0.71df664"]]},{"id":"84797fa1.32c2e","type":"comment","z":"7487b97a.ea1cd8","name":"Save action and print message for selecting currency (the best exchangers flow)","info":"","x":440,"y":80,"wires":[]},{"id":"6637f163.9d763","type":"link out","z":"19285194.c08a0e","name":"Save action and select currency (the best exchangers flow) (out)","links":["b69ddfc1.5f3ba"],"x":1755,"y":680,"wires":[]},{"id":"33f5b7a4.429af8","type":"comment","z":"19285194.c08a0e","name":"Save action and select currency (the best exchangers flow)","info":"","x":1950,"y":640,"wires":[]},{"id":"29124efa.773352","type":"function","z":"7487b97a.ea1cd8","name":"Generate message","func":"msg.inline_keyboard = [];\n\n//generate buttons\nif (msg.messenger_type == \"tg\") {\n    msg.currencies.forEach((element) => {\n        msg.inline_keyboard.push([{\n            \"text\": element.currency_name,\n            \"callback_data\": `bestExchangersCurrency-${element.currency_code}`\n        }]);\n    });\n    \n    //insert back button\n    msg.inline_keyboard.push([{\n        \"text\": \"{{bestExchangersButtonText}}\",\n        \"callback_data\": \"mainMenuBestExchangers\"\n    }]);\n} else if (msg.messenger_type == \"vb\") {\n    msg.inline_keyboard.push({\n        \"Columns\": 6,\n        \"Rows\": 1,\n        \"Text\": \"<font color=#595959>{{text}}</font>\",\n        \"ActionType\": \"reply\",\n        \"ActionBody\": \"\",\n        \"TextSize\": \"medium\",\n        \"TextVAlign\": \"middle\",\n        \"TextHAlign\": \"left\"\n    });\n    \n    msg.currencies.forEach((element) => {\n        msg.inline_keyboard.push({\n            \"Columns\": 6,\n            \"Rows\": 1,\n            \"Text\": `<font color=#595959>${element.currency_name}</font>`,\n            \"ActionType\": \"reply\",\n            \"ActionBody\": `bestExchangersCurrency-${element.currency_code}`,\n            \"TextSize\": \"medium\",\n            \"TextVAlign\": \"middle\",\n            \"TextHAlign\": \"left\",\n            \"BgColor\": \"#d4d4d4\"\n        });\n    });\n    \n    //insert back button\n    msg.inline_keyboard.push({\n        \"Columns\": 6,\n        \"Rows\": 1,\n        \"Text\": `<font color=#595959>{{bestExchangersButtonText}}</font>`,\n        \"ActionType\": \"reply\",\n        \"ActionBody\": \"mainMenuBestExchangers\",\n        \"TextSize\": \"medium\",\n        \"TextVAlign\": \"middle\",\n        \"TextHAlign\": \"left\",\n        \"BgColor\": \"#d4d4d4\"\n    });\n} else if (msg.messenger_type == \"fb\") {\n    msg.currencies.forEach((element) => {\n        msg.inline_keyboard.push({\n            \"content_type\": \"text\",\n            \"title\": element.currency_name,\n            \"payload\": `bestExchangersCurrency-${element.currency_code}`\n        });\n    });\n    \n    //insert back button\n    msg.inline_keyboard.push({\n        \"content_type\": \"text\",\n        \"title\": \"{{bestExchangersButtonText}}\",\n        \"payload\": \"mainMenuBestExchangers\"\n    });\n}\n\n//insert buttons into message template\nmsg.template_vars = { \"inline_keyboard\": JSON.stringify(msg.inline_keyboard) };\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":120,"wires":[["e3a2a199.668dc"]]},{"id":"ccd41fac.9b02f","type":"function","z":"525fab9d.49b1e4","name":"Set data","func":"msg.method = \"GET\",\nmsg.url = `${msg.API_URL}/currency/all`,\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": `Bearer ${msg.API_TOKEN}`\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["cc13c853.dfc3d8"]]},{"id":"cc13c853.dfc3d8","type":"http request","z":"525fab9d.49b1e4","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":120,"wires":[["1488e085.4d044f","500003bc.f6c22c"]]},{"id":"9aabc535.3d7968","type":"change","z":"525fab9d.49b1e4","name":"Save data","rules":[{"t":"set","p":"currencies","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[[]]},{"id":"1488e085.4d044f","type":"debug","z":"525fab9d.49b1e4","name":"Get all currencies response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":180,"wires":[]},{"id":"500003bc.f6c22c","type":"switch","z":"525fab9d.49b1e4","name":"Error handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["f1c19745.72c1f8","9aabc535.3d7968"],["373fc90.f307c38"]]},{"id":"373fc90.f307c38","type":"function","z":"525fab9d.49b1e4","name":"Print error","func":"node.error(\"Get all currencies error (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":160,"wires":[[]]},{"id":"f1c19745.72c1f8","type":"function","z":"525fab9d.49b1e4","name":"Print status","func":"msg.payload = \"Get all currencies successful (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":80,"wires":[["3841f796.af8878"]]},{"id":"3841f796.af8878","type":"debug","z":"525fab9d.49b1e4","name":"Get all currencies status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":80,"wires":[]},{"id":"174659be.7574e6","type":"subflow:525fab9d.49b1e4","z":"7487b97a.ea1cd8","name":"","x":1000,"y":120,"wires":[["29124efa.773352"]]},{"id":"e3a2a199.668dc","type":"send-message","z":"7487b97a.ea1cd8","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"selectCurrency","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":1460,"y":120,"wires":[[]]},{"id":"ddbdc852.d4d6a8","type":"link out","z":"19285194.c08a0e","name":"Save currency and select city (the best exchangers flow) (out)","links":["b3f49199.589a3"],"x":1755,"y":760,"wires":[]},{"id":"a2cf2139.fde07","type":"comment","z":"19285194.c08a0e","name":"Save currency and select city (the best exchangers flow)","info":"","x":1940,"y":720,"wires":[]},{"id":"b3f49199.589a3","type":"link in","z":"7487b97a.ea1cd8","name":"Save currency and select city (the best exchangers flow) (in)","links":["ddbdc852.d4d6a8"],"x":175,"y":220,"wires":[["4c48684.f3ad998"]]},{"id":"65697ee9.40247","type":"comment","z":"7487b97a.ea1cd8","name":"Save currency and print message for selecting city (the best exchangers flow)","info":"","x":430,"y":180,"wires":[]},{"id":"2051e3ee.787dac","type":"subflow:8aa6e084.35202","z":"7487b97a.ea1cd8","name":"","x":530,"y":220,"wires":[["156d5db4.788a02"]]},{"id":"4c48684.f3ad998","type":"function","z":"7487b97a.ea1cd8","name":"Set request","func":"msg.query = {\n    \"user_id\": msg.user.user_id,\n    \"messenger_type\": msg.messenger_type\n};\nmsg.user.context.currency = msg.text.split(\"-\")[1];\nmsg.payload = {\n    \"context\": msg.user.context\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[["2051e3ee.787dac"]]},{"id":"f8db057.22012f8","type":"function","z":"7487b97a.ea1cd8","name":"Generate message","func":"msg.inline_keyboard = [];\n\n//generate buttons\nif (msg.messenger_type == \"tg\") {\n    msg.cities.forEach((element) => {\n        msg.inline_keyboard.push([{\n            \"text\": element.city_name,\n            \"callback_data\": `bestExchangersCity-${element.city_id}`\n        }]);\n    });\n    \n    //insert back button\n    msg.inline_keyboard.push([{\n        \"text\": \"{{selectCityButtonText}}\",\n        \"callback_data\": \"selectCity\"\n    }]);\n} else if (msg.messenger_type == \"vb\") {\n    msg.inline_keyboard.push({\n        \"Columns\": 6,\n        \"Rows\": 1,\n        \"Text\": \"<font color=#595959>{{text}}</font>\",\n        \"ActionType\": \"reply\",\n        \"ActionBody\": \"\",\n        \"TextSize\": \"medium\",\n        \"TextVAlign\": \"middle\",\n        \"TextHAlign\": \"left\"\n    });\n    \n    msg.cities.forEach((element) => {\n        msg.inline_keyboard.push({\n            \"Columns\": 6,\n            \"Rows\": 1,\n            \"Text\": `<font color=#595959>${element.city_name}</font>`,\n            \"ActionType\": \"reply\",\n            \"ActionBody\": `bestExchangersCity-${element.city_id}`,\n            \"TextSize\": \"medium\",\n            \"TextVAlign\": \"middle\",\n            \"TextHAlign\": \"left\",\n            \"BgColor\": \"#d4d4d4\"\n        });\n    });\n    \n    //insert back button\n    msg.inline_keyboard.push({\n        \"Columns\": 6,\n        \"Rows\": 1,\n        \"Text\": `<font color=#595959>{{selectCityButtonText}}</font>`,\n        \"ActionType\": \"reply\",\n        \"ActionBody\": \"selectCity\",\n        \"TextSize\": \"medium\",\n        \"TextVAlign\": \"middle\",\n        \"TextHAlign\": \"left\",\n        \"BgColor\": \"#d4d4d4\"\n    });\n} else if (msg.messenger_type == \"fb\") {\n    msg.cities.forEach((element) => {\n        msg.inline_keyboard.push({\n            \"content_type\": \"text\",\n            \"title\": element.city_name,\n            \"payload\": `bestExchangersCity-${element.city_id}`\n        });\n    });\n    \n    //insert back button\n    msg.inline_keyboard.push({\n        \"content_type\": \"text\",\n        \"title\": \"{{selectCityButtonText}}\",\n        \"payload\": \"selectCity\"\n    });\n}\n\n\n\n//insert buttons into message template\nmsg.template_vars = { \"inline_keyboard\": JSON.stringify(msg.inline_keyboard) };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":220,"wires":[["d1bc27b6.186d58"]]},{"id":"d1bc27b6.186d58","type":"send-message","z":"7487b97a.ea1cd8","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"selectCity","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":1240,"y":220,"wires":[[]]},{"id":"f1935c5f.53b5c","type":"function","z":"62c01424.2e695c","name":"Set data","func":"msg.method = \"GET\",\nmsg.url = `${msg.API_URL}/cities/all`,\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": `Bearer ${msg.API_TOKEN}`\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["1048043.56d27fc"]]},{"id":"1048043.56d27fc","type":"http request","z":"62c01424.2e695c","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":120,"wires":[["c8df509f.499c2","8c894584.7cafb8"]]},{"id":"8652aeee.03c2c","type":"change","z":"62c01424.2e695c","name":"Save data","rules":[{"t":"set","p":"cities","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[[]]},{"id":"c8df509f.499c2","type":"debug","z":"62c01424.2e695c","name":"Get all cities response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":180,"wires":[]},{"id":"8c894584.7cafb8","type":"switch","z":"62c01424.2e695c","name":"Error handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["7f5eab3c.a269f4","8652aeee.03c2c"],["6dc77a53.b4d304"]]},{"id":"6dc77a53.b4d304","type":"function","z":"62c01424.2e695c","name":"Print error","func":"node.error(\"Get all cities error (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":160,"wires":[[]]},{"id":"7f5eab3c.a269f4","type":"function","z":"62c01424.2e695c","name":"Print status","func":"msg.payload = \"Get all cities successful (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":80,"wires":[["b3f56b43.257188"]]},{"id":"b3f56b43.257188","type":"debug","z":"62c01424.2e695c","name":"Get all cities status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":80,"wires":[]},{"id":"156d5db4.788a02","type":"subflow:62c01424.2e695c","z":"7487b97a.ea1cd8","name":"","x":730,"y":220,"wires":[["f8db057.22012f8"]]},{"id":"c34028cb.ed5ab8","type":"link out","z":"19285194.c08a0e","name":"Send result (the best exchangers flow) (out)","links":["f83d09c2.f871f8"],"x":1755,"y":840,"wires":[]},{"id":"da057a18.76c308","type":"comment","z":"19285194.c08a0e","name":"Save city and send result (the best exchangers flow)","info":"","x":1930,"y":800,"wires":[]},{"id":"f83d09c2.f871f8","type":"link in","z":"7487b97a.ea1cd8","name":"Send result (the best exchangers flow) (in)","links":["c34028cb.ed5ab8"],"x":175,"y":320,"wires":[["ece65c20.d58fa"]]},{"id":"30154e25.2a4462","type":"comment","z":"7487b97a.ea1cd8","name":"Send result (the best exchangers flow)","info":"","x":310,"y":280,"wires":[]},{"id":"ae048ecc.ab55d","type":"function","z":"fe31744e.b88c08","name":"Set data","func":"msg.method = \"GET\",\nmsg.url = `${msg.API_URL}/exchangers?action=${msg.query.action}&city_id=${msg.query.city}&currency=${msg.query.currency}`,\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": `Bearer ${msg.API_TOKEN}`\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["8dfed2e.93e5d3"]]},{"id":"8dfed2e.93e5d3","type":"http request","z":"fe31744e.b88c08","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":120,"wires":[["f17e028.3a2c8","393fc32.cdcd93c"]]},{"id":"146ca166.5ab72f","type":"change","z":"fe31744e.b88c08","name":"Save data","rules":[{"t":"set","p":"file_name","pt":"msg","to":"payload.file_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[[]]},{"id":"f17e028.3a2c8","type":"debug","z":"fe31744e.b88c08","name":"Generate image with best exchangers response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":180,"wires":[]},{"id":"393fc32.cdcd93c","type":"switch","z":"fe31744e.b88c08","name":"Error handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["5aee889b.f64be8","146ca166.5ab72f"],["14d5e231.8f1ade"]]},{"id":"14d5e231.8f1ade","type":"function","z":"fe31744e.b88c08","name":"Print error","func":"node.error(\"Generate image with best exchangers error (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":160,"wires":[[]]},{"id":"5aee889b.f64be8","type":"function","z":"fe31744e.b88c08","name":"Print status","func":"msg.payload = \"Generate image with best exchangers successful (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":80,"wires":[["a66991d0.ff4f5"]]},{"id":"a66991d0.ff4f5","type":"debug","z":"fe31744e.b88c08","name":"Generate image with best exchangers status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"ece65c20.d58fa","type":"function","z":"7487b97a.ea1cd8","name":"Set request","func":"msg.query = {\n    \"action\": msg.user.context.best_exchagers_action,\n    \"city\": msg.text.split(\"-\")[1],\n    \"currency\": msg.user.context.currency\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["e33fa753.7d6008"]]},{"id":"e33fa753.7d6008","type":"subflow:fe31744e.b88c08","z":"7487b97a.ea1cd8","name":"","env":[],"x":610,"y":320,"wires":[["b977fecd.397d5"]]},{"id":"b426d578.4a2cc8","type":"function","z":"7487b97a.ea1cd8","name":"Set request","func":"msg.query = {\n    \"user_id\": msg.user.user_id,\n    \"messenger_type\": msg.messenger_type\n};\nmsg.payload = {\n    \"context\": {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":320,"wires":[["625fc46b.2adc0c"]]},{"id":"625fc46b.2adc0c","type":"subflow:8aa6e084.35202","z":"7487b97a.ea1cd8","name":"","x":1510,"y":320,"wires":[["395f45ef.fd0dda"]]},{"id":"b8a038dd.f9e588","type":"comment","z":"7487b97a.ea1cd8","name":"Remove context","info":"","x":1320,"y":280,"wires":[]},{"id":"fa0db041.ea359","type":"function","z":"19285194.c08a0e","name":"COMMAND HANDLER","func":"if (msg.text == \"/start\" || msg.text == \"mainMenu\") {\n    return [msg, null];\n}\n\nreturn [null, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1270,"y":420,"wires":[["6087d3fe.ba77ac"],["5d039bec.1a6844"]],"outputLabels":["main menu or first message","other messages"]},{"id":"9d7141c0.1c5f5","type":"send-message","z":"19285194.c08a0e","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"mainMenu","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":1820,"y":1000,"wires":[[]]},{"id":"5568fa64.d30704","type":"comment","z":"19285194.c08a0e","name":"Main menu","info":"","x":1800,"y":960,"wires":[]},{"id":"efbea04f.5f407","type":"link in","z":"7487b97a.ea1cd8","name":"Send selectCurrency message (in)","links":["b5a5ca1f.31f4f8"],"x":875,"y":80,"wires":[["174659be.7574e6"]]},{"id":"b5a5ca1f.31f4f8","type":"link out","z":"19285194.c08a0e","name":"Send selectCurrency message (out)","links":["efbea04f.5f407"],"x":1755,"y":920,"wires":[]},{"id":"1b32d083.37fd0f","type":"comment","z":"19285194.c08a0e","name":"Send selectCurrency message","info":"","x":1870,"y":880,"wires":[]},{"id":"3eaef921.34bae6","type":"send-message","z":"7487b97a.ea1cd8","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"mainMenu","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":1920,"y":320,"wires":[[]]},{"id":"f5d79fa0.a171e","type":"comment","z":"7487b97a.ea1cd8","name":"Main menu","info":"","x":1900,"y":280,"wires":[]},{"id":"395f45ef.fd0dda","type":"delay","z":"7487b97a.ea1cd8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1710,"y":320,"wires":[["3eaef921.34bae6"]]},{"id":"b066551e.d52248","type":"function","z":"7d4ee53a.2af4dc","name":"Set data","func":"msg.method = \"GET\",\nmsg.url = `${msg.API_URL}/messages?templateId=${msg.template_id}&messenger_type=${msg.messenger_type}`,\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": `Bearer ${msg.API_TOKEN}`\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["ba883c67.a848"]]},{"id":"ba883c67.a848","type":"http request","z":"7d4ee53a.2af4dc","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":120,"wires":[["8a0235b2.a85d08","f0aa6da.284fd9"]]},{"id":"e9930fc7.1134b","type":"change","z":"7d4ee53a.2af4dc","name":"Save data","rules":[{"t":"set","p":"message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[[]]},{"id":"8a0235b2.a85d08","type":"debug","z":"7d4ee53a.2af4dc","name":"Get message response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":180,"wires":[]},{"id":"f0aa6da.284fd9","type":"switch","z":"7d4ee53a.2af4dc","name":"Error handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["7fd8a714.d33738","e9930fc7.1134b"],["fafbfcff.eb5e2"]]},{"id":"fafbfcff.eb5e2","type":"function","z":"7d4ee53a.2af4dc","name":"Print error","func":"node.error(\"Get message error (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":160,"wires":[[]]},{"id":"7fd8a714.d33738","type":"function","z":"7d4ee53a.2af4dc","name":"Print status","func":"msg.payload = \"Get message successful (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":80,"wires":[["8c8afe13.c743e"]]},{"id":"8c8afe13.c743e","type":"debug","z":"7d4ee53a.2af4dc","name":"Get message status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":80,"wires":[]},{"id":"b3a17c82.33169","type":"comment","z":"19285194.c08a0e","name":"Welcome message for viber","info":"","x":360,"y":240,"wires":[]},{"id":"adafc325.5b0c5","type":"send-message","z":"7487b97a.ea1cd8","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"sendBestExchangersImage","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":1100,"y":320,"wires":[["b426d578.4a2cc8"]]},{"id":"72a128d9.ec8f78","type":"comment","z":"7487b97a.ea1cd8","name":"Send image","info":"","x":1090,"y":280,"wires":[]},{"id":"b977fecd.397d5","type":"function","z":"7487b97a.ea1cd8","name":"Set photo url","func":"/*msg.template_vars = {\n    \"photo_url\": `${env.get(\"API_URL\")}/images/${msg.file_name}`\n}*/\n\nmsg.template_vars = {\n    \"photo_url\": (\"https://hidden-fortress-48461.herokuapp.com/images/\" + msg.file_name)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":320,"wires":[["adafc325.5b0c5"]]},{"id":"a711dad9.e7c038","type":"send-message","z":"19285194.c08a0e","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"sendInterbankCurrencyRateImage","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":2440,"y":520,"wires":[["c0681b00.a6da08"]]},{"id":"10a6c01e.712f6","type":"comment","z":"19285194.c08a0e","name":"Generate and send image with interbank currency rate","info":"","x":1940,"y":480,"wires":[]},{"id":"46eedde3.6c4b14","type":"function","z":"19285194.c08a0e","name":"Set photo url","func":"/*msg.template_vars = {\n    \"photo_url\": `${env.get(\"API_URL\")}/images/${msg.file_name}`\n}*/\n\nmsg.template_vars = {\n    \"photo_url\": (\"https://hidden-fortress-48461.herokuapp.com/images/\" + msg.file_name)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2230,"y":520,"wires":[["a711dad9.e7c038"]]},{"id":"4ae1283a.075cb8","type":"function","z":"3d53389e.b51558","name":"Set data","func":"msg.method = \"GET\",\nmsg.url = `${msg.API_URL}/exchangers/interbank`,\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": `Bearer ${msg.API_TOKEN}`\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["b9a5276b.9c0418"]]},{"id":"b9a5276b.9c0418","type":"http request","z":"3d53389e.b51558","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":120,"wires":[["689105b5.1e177c","e242dd03.674a7"]]},{"id":"b772ff1.5b3b2","type":"change","z":"3d53389e.b51558","name":"Save data","rules":[{"t":"set","p":"file_name","pt":"msg","to":"payload.file_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[[]]},{"id":"689105b5.1e177c","type":"debug","z":"3d53389e.b51558","name":"Generate image with interbank currency rate response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":180,"wires":[]},{"id":"e242dd03.674a7","type":"switch","z":"3d53389e.b51558","name":"Error handler","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["36519bb6.ab6a34","b772ff1.5b3b2"],["ee3ed09.51fde3"]]},{"id":"ee3ed09.51fde3","type":"function","z":"3d53389e.b51558","name":"Print error","func":"node.error(\"Generate image with interbank currency rate error (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":160,"wires":[[]]},{"id":"36519bb6.ab6a34","type":"function","z":"3d53389e.b51558","name":"Print status","func":"msg.payload = \"Generate image with interbank currency rate successful (statusCode: \" + msg.statusCode + \"): \" + JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":80,"wires":[["52e40ed5.59e46"]]},{"id":"52e40ed5.59e46","type":"debug","z":"3d53389e.b51558","name":"Generate image with interbank currency rate status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":80,"wires":[]},{"id":"12bf94ed.01a7eb","type":"subflow:3d53389e.b51558","z":"19285194.c08a0e","name":"","x":1920,"y":520,"wires":[["46eedde3.6c4b14"]]},{"id":"c0681b00.a6da08","type":"delay","z":"19285194.c08a0e","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2650,"y":520,"wires":[["a31cdae3.f35bc8"]]},{"id":"a31cdae3.f35bc8","type":"send-message","z":"19285194.c08a0e","name":"","messenger_type":"messenger_type","messenger_type_type":"msg","templateId":"mainMenu","templateId_type":"str","language":"user.language","language_type":"msg","recipient_id":"user.user_id","recipient_id_type":"msg","x":2860,"y":520,"wires":[[]]},{"id":"7efcaa3b.91b7e4","type":"comment","z":"19285194.c08a0e","name":"Main menu","info":"","x":2840,"y":480,"wires":[]},{"id":"8c3ca0a4.2d408","type":"comment","z":"19285194.c08a0e","name":"Update state","info":"","x":770,"y":240,"wires":[]},{"id":"9bd75f7.f04eda","type":"function","z":"19285194.c08a0e","name":"Set request","func":"msg.query = {\n    \"user_id\": msg.user.user_id,\n    \"messenger_type\": msg.messenger_type\n};\nmsg.payload = {\n    \"state\": \"welcomeMessage\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":280,"wires":[["b1146469.7ad388"]]},{"id":"b1146469.7ad388","type":"subflow:8aa6e084.35202","z":"19285194.c08a0e","name":"","x":970,"y":280,"wires":[["dbfd860a.a53658"]]},{"id":"2364d76.3bcad28","type":"subflow:3cf8aaa3.71f056","z":"19285194.c08a0e","name":"","x":570,"y":280,"wires":[["9bd75f7.f04eda"]]},{"id":"20c7e928.aa6b66","type":"comment","z":"19285194.c08a0e","name":"Create/get user","info":"","x":580,"y":240,"wires":[]},{"id":"fe7a99b9.17de98","type":"function","z":"19285194.c08a0e","name":"Get envs","func":"msg.API_URL = env.get(\"API_URL\");\nmsg.API_TOKEN = env.get(\"API_TOKEN\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["2364d76.3bcad28"]]},{"id":"dbfd860a.a53658","type":"function","z":"19285194.c08a0e","name":"Set receiver","func":"msg.payload = {\n    \"receiver\": msg.user.user_id,\n    \"type\": \"rich_media\",\n    \"min_api_version\": 7,\n    \"rich_media\": {\n        \"Type\": \"rich_media\",\n        \"ButtonsGroupColumns\": 6,\n        \"ButtonsGroupRows\": 4,\n        \"BgColor\": \"#ffffff\",\n        \"Buttons\": [{\n            \"Columns\": 6,\n            \"Rows\": 2,\n            \"Text\": \"<font color=#595959>Привіт. В цьому меню ти можеш подивитися курс валют на міжбанку або знайти найвигідніші обмінники в свому місті 📈</font>\",\n            \"ActionType\": \"reply\",\n            \"ActionBody\": \"\",\n            \"TextSize\": \"medium\",\n            \"TextVAlign\": \"middle\",\n            \"TextHAlign\": \"left\"\n        }, {\n            \"Columns\": 6,\n            \"Rows\": 1,\n            \"Text\": \"<font color=#ffffff>Курс валют на міжбанку 💲</font>\",\n            \"ActionType\": \"reply\",\n            \"ActionBody\": \"mainMenuInterbank\",\n            \"TextSize\": \"large\",\n            \"TextVAlign\": \"middle\",\n            \"TextHAlign\": \"middle\",\n            \"BgColor\": \"#d4d4d4\"\n        }, {\n            \"Columns\": 6,\n            \"Rows\": 1,\n            \"Text\": \"<font color=#ffffff>Найкращі пропозиції 💱</font>\",\n            \"ActionType\": \"reply\",\n            \"ActionBody\": \"mainMenuBestExchangers\",\n            \"TextSize\": \"large\",\n            \"TextVAlign\": \"middle\",\n            \"TextHAlign\": \"middle\",\n            \"BgColor\": \"#d4d4d4\"\n        }]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":280,"wires":[["659d008f.5f209"]]}]